<h1 class="welcome">Welcome to the 8to18 Booth!</h1>

<%= render "includes/progress" %>

<%= session.to_s %>

<a class="submit-button" href="<%= root_path %>"><img src="<%= asset_path("submit.png")%>"/></a>