<h1 class="welcome">Welcome to the 8to18 Booth!</h1>

<%= render "includes/progress" %>

<a class="checkin" href="<%= pages_select_path %>">
	<img src="<%= asset_path("check_in.png")%>" />
</a>

<a class="home-logo" href="#"><img src="<%= asset_path("home-logo.png")%>"/></a>
