// RESETS  ------------------

li,a,p, h1, h2, h3, h4, h5, h6, label, input, th, td
	list-style: none outside none
	text-decoration: none
	font: 11pt "Helvetica", "Arial", sans-serif
	padding: 0
	margin: 0

a:hover
	color: black
p
	line-height: 25px
h1
	font-size: xx-large
h2
	font-size: x-large
h3
	font-size: large

h1, h2, h3, h4
	font-family: "MuseoSlab"
	color: #404040

// Layout -------

html
	background: #cecece

body
	text-align: center
	background: image-url("bg.png") center top
	min-height: 750px

#wrap
	width: 960px
	margin: 0px auto
	text-align: left

// Fonts --------

@font-face
	font-family: MuseoSlab
	src: url('webfonts/20EAB6_0_0.eot')
	src: url('webfonts/20EAB6_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/20EAB6_0_0.woff') format('woff'),url('webfonts/20EAB6_0_0ttf') format('truetype')

// Start Page ---------

.welcome
	width: 100%
	text-align: center
	margin-top: 100px
	float: left

#progress-bar
	float: left
	width: 700px
	margin: 50px 130px

a.checkin
	float: left
	width: 300px
	margin-left: 330px
	img
		width: 300px

.home-logo
	float: left
	clear: left
	width: 200px
	margin-left: 380px
	margin-top: 50px