// RESETS  ------------------

li,a,p, h1, h2, h3, h4, h5, h6, label, input, th, td
	list-style: none outside none
	text-decoration: none
	font: 11pt "Helvetica", "Arial", sans-serif
	padding: 0
	margin: 0

a:hover
	color: black
p
	line-height: 25px
h1
	font-size: 30pt
	width: 100%
	text-align: center
	margin-top: 50px
	float: left

h2
	font-size: x-large
h3
	font-size: large

h1, h2, h3, h4
	font-family: "MuseoSlab"
	color: #404040

// Layout -------

html
	background: #cecece
	padding-bottom: 100px

body
	text-align: center
	background: image-url("bg.png") center top
	min-height: 750px

#wrap
	width: 960px
	margin: 0px auto
	text-align: left

// Fonts --------

@font-face
	font-family: MuseoSlab
	src: url('webfonts/20EAB6_0_0.eot')
	src: url('webfonts/20EAB6_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/20EAB6_0_0.woff') format('woff'),url('webfonts/20EAB6_0_0ttf') format('truetype')

// Start Page ---------

#progress-bar
	float: left
	width: 700px
	margin: 50px 130px

a.checkin
	float: left
	width: 300px
	margin-left: 330px
	img
		width: 300px

.home-logo
	float: left
	clear: left
	width: 200px
	margin-left: 380px
	margin-top: 50px

// Select Page -------

#people-list
	width: 630px
	padding-right: 14px
	float: left
	margin-right: 15px
	border-right: 1px solid #a6a6a6
	min-height: 350px
	ul
		max-height: 325px
		overflow: scroll
	li
		float: left
		clear: left
		width: 560px
		height: 25px
		padding: 7px 10px 
		background: #fafafa
		border-bottom: 1px solid #cacaca
		p
			color: #545454
			float: left
		span
			padding-top: 4px
			float: right
			margin-right: 15px
			font-style: italic
			color: #747474
		a.select-button
			padding-top: 1px
			float: right

#sidebar
	float: right
	width: 300px
	padding-top: 35px
	p
		color: #5a5a5a
		padding-bottom: 10px
	a.new-entry-button
		float: left
		width: 200px
		marign-left: 50px
		img
			width: 200px

// New Person Page -------

#column-left
	margin-top: -10px
	float: left
	width: 315px
	margin-left: 150px

#column-right
	margin-top: -10px
	float: right
	width: 315px
	margin-right: 150px

.field
	float: left
	clear: left
	width: 300px
	margin-bottom: 15px
	label
		width: 300px
		padding-bottom: 7px
		float: left
		color: #545454
	input
		width: 300px
		padding: 7px 10px
		border: 1px solid #a2a2a2
	select
		margin-top: 6px
		width: 320px
		height: 20px
		border: 1px solid #a2a2a2
		margin-bottom: 7px

.actions 
	float: left
	clear: left
	margin-top: 20px
	input
		width: 300px
		float: left
		margin-left: 330px
		background: image-url("next.png")
		height: 80px
		border: 0

// Leads Form -------

#checkboxes-wrap
	float: left
	margin-top: 25px
	width: 660px
	margin-left: 150px
	.field
		margin-bottom: 35px
		float: left
		clear: none
		width: 200px
		margin-right: 30px


.box-scheduling
	input
		display: none
	span
		width: 200px
		height: 50px
		display: block
		background: image-url("scheduling_1.png")
	input:checked + span
		background: image-url("scheduling_2.png")

.box-registration
	input
		display: none
	span
		width: 200px
		height: 50px
		display: block
		background: image-url("registration_1.png")
	input:checked + span
		background: image-url("registration_2.png")

.box-spirit
	input
		display: none
	span
		width: 200px
		height: 50px
		display: block
		background: image-url("spirit_1.png")
	input:checked + span
		background: image-url("spirit_2.png")

.box-fundraising
	input
		display: none
	span
		width: 200px
		height: 50px
		display: block
		background: image-url("fundraising_1.png")
	input:checked + span
		background: image-url("fundraising_2.png")

.box-camps
	input
		display: none
	span
		width: 200px
		height: 50px
		display: block
		background: image-url("camps_1.png")
	input:checked + span
		background: image-url("camps_2.png")

.box-boosters
	input
		display: none
	span
		width: 200px
		height: 50px
		display: block
		background: image-url("boosters_1.png")
	input:checked + span
		background: image-url("boosters_2.png")


// Overview -----

#person-overview-wrap
	margin-top: 35px
	float: left
	width: 270px
	padding: 10px 15px
	background: white
	border: 1px solid #b2b2b2
	margin-left: 165px
	p
		font-style: italic
		color: #434343
		strong
			color: black
	a
		float: right

#lead-overview-wrap
	margin-top: 35px
	float: right
	width: 270px
	padding: 10px 15px
	background: white
	border: 1px solid #b2b2b2
	margin-right: 165px
	p
		font-style: italic
		color: #434343
		strong
			color: black
	a
		float: right

.submit-button
	clear: left
	margin-top: 35px
	width: 300px
	margin-left: 330px
	float: left
	img
		width: 300px

// Validation Error ----------

#error_explanation
	float: left
	h2
		float: left
		width: 960px
		text-align: center
		color: red
	ul
		float: left
		width: 360px
		margin-left: 300px
		li
			padding-bottom: 3px
			float: left
			padding-right: 5px
			color: #545454
			font-style: italic




















